{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "@": ["."],
        "alias": {
          "@common": "./common",
          "@config": "./config",
          "@contexts": "./contexts",
          "@features": "./features",
          "@graphql": "./graphql",
          "@hocs": "./hocs",
          "@hooks": "./hooks",
          "@lib": "./lib",
          "@i18n": "./i18n",
          "@services": "./services",
          "@static": "./static",
          "@utils": "./utils"
        }
      }
    ]
  ]
}
